@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,800;1,300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F6F8FF;
}

img {
  max-width: 100%;
}

*:not(center) {
	text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0.75rem 0;
}

pre {
	margin: 0.5rem 0;
  background: #282B36;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  color: #F8F8F3;
}

a {
	text-decoration: none;
}

.cool-sha {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1)!important;
}
.cool-sha-2 {
  box-shadow: 1 2px 2px 0 rgba(0,0,0,.35)!important;
}

.cool-sha.cool-bord {
  border: 1px solid #DCDDDE;
}

.code-wrap {
  font-size: 0.85rem;
  max-height: 400px;
}

._anim--1-enter {
  opacity: 0;
  transform: scale(1.1);
}

._anim--1-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

._anim--1-exit {
  opacity: 1;
  transform: scale(1);
}

._anim--1-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

